RewriteEngine On
RewriteBase /rest/

RewriteRule ^(.*)$ index.php?_rest=$1 [QSA,NC,L]

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-s
# RewriteRule ^(.*)$ index.php?_rest=$1 [QSA,NC,L]
# RewriteCond %{REQUEST_FILENAME} -d
# RewriteRule ^(.*)$ index.php [QSA,NC,L]